@media screen and (min-width: 1280px) {
    
    body{
        margin: 40px;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .log{
        width: fit-content;
        padding: 20px 120px;
    }

    .main-catalog{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 24px;
    }

    .iteam{
        width: 31%;
    }
}